/* Primer bloque, wrapper, header, .clearfix */
.wrapper{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    font-size: 20px;
}

.header{
    height: 100px;
    background-color: red;
}

.clearfix::after {   
    content: "";   
    clear: both;   
    display: table;
}

/* Segundo bloque top, bottom, right, left */
/* position relative sirve para decirle al position absolute donde moverse */
#top{
    background-color: #fef200;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}

#bottom{
    background-color: #e600ff;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}

#right{
    background-color: #1b1464;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
    color: white;
}

#left{
    background-color: #3ab54b;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}

