/* Primer bloque, wrapper, header, .clearfix */
.wrapper{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    font-size: 20px;
}

.header{
    height: 100px;
    background-color: red;
}

.clearfix::after {   
    content: "";   
    clear: both;   
    display: table;
}

/* Segundo bloque top, bottom, right, left */
/* position relative sirve para decirle al position absolute donde moverse */
#top{
    background-color: #fef200;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}

#bottom{
    background-color: #e600ff;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}

#right{
    background-color: #1b1464;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
    color: white;
}

#left{
    background-color: #3ab54b;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}

/* Tercer bloque block-1, block-2 y footer */
/* float sirve para pegar todo pero que cada cosa tenga su propio espacio */
#block-1{
    width: 500px;
    height: 300px;
    background-color: #0a589a;
    float: left;

}

#block-2{
    width: 500px;
    height: 300px;
    background-color:#363636;
    float: left;

}

#footer{

    height: 50px;
    width: 1000px;
    background-color: red;
    float: left;
}
/* Cuarto bloque .elem-position */
/* position: absolute  es para mover lo que ud seleccione siempre se usa en conjunto con el position relative */
.elem-position{
    position: absolute;
    top: 8px;
    left: 8px;
}

.elem-position-1{
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.elem-position-2{
    position: absolute;
    top: 8px;
    right: 8px;
}

.elem-position-3{
    position: absolute;
    bottom: 8px;
    left: 8px;
}